<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>

    <br><br>

    <body>
        <div align="center">
            <h2>Create task</h2>
        </div>
        <div class="container">
            <form method="POST" action='' enctype='multipart/form-data' class="d-flex justify-content-center">
                {% csrf_token %}
                <div class='section-center'>
                    <p class='alert'></p>
                    <div>
                        <input type='text' class='form-control' name='title' placeholder="Title">
                    </div><br>
                    <div>
                        <input type='text' class='form-control' name='topic' placeholder="Task Topic">
                    </div><br>
                    <div>
                        <textarea class="form-control" name='task' rows="6" cols="50" placeholder="Describe the task"></textarea>
                    </div><br>
                    <div style='text-align:center;'>
                        <input placeholder="Maximum points" class='form-control' type="number" name="max"><br><br>
                    </div>
                    <div>
                        <p class="p-0 m-1">Due date:</p>
                        <input class='form-control' type="date" name='date'><br><br>
                    </div>
                    <div style='text-align:center;'>
                        <input multiple class='form-control' name='myfile' type="file"><br>
                    </div><br>
                    <div class="d-flex justify-content-center">
                        <input name='submit' id='submit' type='submit' class='btn btn-primary'>
                    </div>
                </div>
            </form>
        </div>

    </body>
    <br>

</html>
{% endblock %}