{% extends 'base.html' %}
{% block content %}
<br>

<div class="d-flex flex-wrap">

  {% for item in all_rooms %}
    <div class="card shadow-sm bg-body rounded mx-3 my-3" style="width: 20rem;">
      <div class="card-header" style="background-color:{{item.classroom_color}};color:white">
        <h5 class="card-title">{{item.classroom_name}}</h5>
      </div>
      <div class="card-body pt-5">
        <div class="card-text">Classroom code: <p class="fw-bold">{{item.classroom_code}}</p></div>
        <a href='{% url 'room' item.classroom_code %}' class="btn btn-primary">Go to class</a>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}