{% extends 'base.html' %}
{% block content %}
<br>

{% for item in all_rooms %}
    <div class="card d-inline-block" style="width: 20rem;">
    <form method='POST' enctype='multipart/form-data'>
    {% load static %}
    {% if item.classroom_image %}
      <img height=175 width=150 id="myimage" class="card-img-top" alt="{{item.classroom_image.url}}" src="{{item.classroom_image.url}} ">
    {% else %}
      {% load random_image%}
      <img height=175 width=100 id="myimage" class="card-img-top" alt="The photo didn't load" src="{% static ''%}{% random_img %}">
    {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{item.classroom_name}}</h5>
        <a href='{% url 'room' item.classroom_code %}' class="btn btn-primary">Go to class</a>
        
      </div>
    </div>
</form>
{% endfor %}

{% endblock %}