<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <br><br>
        <div class='container'>
            <h2>My Grades</h2>
        </div><br>
        <div class="container">
            <form "method=POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table table-bordered">
                    <thead class="table-light">
                        <td><center>Subject</center></td>
                        <td><center>Grades</center></td>
                    </thead>
                    {% for j in my_classes %}
                        <td><center>{{j.classroom_name}}</center></td>
                        {% if j.user %}
                            <td>
                                <center>
                                    <a href="#">
                                        <div style='display:inline-block'>
                                            {% for i in marks %}
                                                {% if i.classroom_code == j.classroom_code %}
                                                    <a href="{% url 'task' pk=i.task_number %}">{{i.mark}}</a><br>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </a>
                                </center>
                            </td>
                        {% endif %}
                    {% endfor %}
                </table>
            </form>
            
        </div>

    </body>

</html>
{% endblock %}