<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <br><br>
        <div class="container d-flex justify-content-center">
            <form "method=POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% if files %}
                    <h2 class="pb-5" style="text-align:center">Returned files by {{username}}</h2>
                    <div class="card shadow-sm bg-body rounded mb-5" style="max-width: 35rem;">
                        {% for file in files%}
                            {% if file.file %}
                                <div class="card-body text-info" style='text-align:center;text-decoration:none;'>
                                    <a href='{{file.file.url}}' download class="card-title">{{file.file}}</a>
                                </div>
                            {% else %}
                                <h3 class="d-flex justify-content-center">There are no files returned</h3>
                            {% endif %}
                        {% endfor %}
                        <div class="container mb-4 mt-4">
                            <input type='number' name="mark" id="mark" class='form-control mb-3' placeholder="Grade">
                            <div class="d-flex justify-content-center">
                                <input name='submit' id='submit' type='submit' class='btn btn-primary' value="Return">
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h3 class="d-flex justify-content-center">There are no files returned by this user</h3>
                {% endif %}
                
            </form>
        </div>

    </body>

</html><br>
{% endblock %}