<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <br><br>
        <div class='container'>
            <h2>Returned homework</h2>
        </div><br>
        <div class="container">
            <form "method=POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table table-bordered">
                    <thead class="table-light">
                        <td><center>Name</center></td>
                        <td><center>Homework</center></td>
                    </thead>
                    {% for j in joined %}
                        {% if j.user and j.user != host %}
                            <tr>
                                <td><center>{{j.user}}</center></td>
                                <td>
                                    <center>
                                        <a href="{% url 'returned_details' pk j.user %}">See files</a>
                                    </center>
                                </td>
                            </tr>   
                        {% endif %}
                    {% endfor %}                    
                </table>        
            </form>
        </div>

    </body>

</html><br>
{% endblock %}