{% extends 'base.html' %}
{% block content %}
<form method="POST" action="">
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <div class="card text-white text-center p-3" style="background-color:{{room_details.color}};color:white">
    <blockquote class="blockquote mb-0">
      {% if current_user == room_details.author.id%}
        <div class="dropdown" style='position:absolute;right:0;top:0'>
          <button class="btn text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {% comment %} Dropdown button {% endcomment %}
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'add_topic' room_details.code %}">Add topic</a></li>
            <li><a class="dropdown-item" href="{% url "create_task" room_details.code %}">Create task</a></li>
          </ul>
        </div>
      {% endif %}
      <h2 class="text-bg-white">{{room_name}}</h2>
      <small class="text-bg-white" style='float:right;'>Code:{{room}}</small>
    </blockquote>
  </div><br><br>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="{% url 'room' room_details.code %}" class="btn btn-outline-primary">Stream</a>
    </li>
    <li>
      <h1>&nbsp;</h1>
    </li>
    <li class="nav-item">
      <a href="{% url 'room_classwork' room_details.code %}" class="btn btn-outline-primary">Classwork</a>
    </li>
  </ul><br>
  <div class="container">
    <hr>
    <div>
      <h3>Stream</h3>
    </div>
    {% for item in tasks reversed %}
      <a href="{% url 'task' pk=item.id %}" class="list-group-item list-group-item-action shadow-sm bg-body rounded p-3 my-4" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{item.title}}</h5>
          <small>Posted {{item.date}}</small>
        </div>
        <p class="mb-1">{{item.task|slice:":100"|safe}}</p>
        <small>Due date {{item.date}}</small>
      </a>
    {% endfor %}
  </div>
</form>

{% endblock %}