<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <script data-require="jquery" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="pt-5 container mt-0">
            <div class="row">
                <div class="col">
                    <div>
                        <h2 class="fw-bold">{{task.title}}</h2>
                        <h5 class="fw-normal">Deadline: {{task.due_date}}</h5>
                        <small>Created by: {{task.author}}</small><br>
                        <small>Maximum points: {{task.max_points}}p</small><br>
                        <small>{{task.date}}</small>
                    </div>
                    <div class="mt-4">
                        <p class="card-task">{{task.task}}</p>
                        <div class="card card-task mt-1  shadow-sm bg-body rounded mb-5">
                            <div class="card-body">
                                <h5 class="card-title">Files</h5>
                                {% for i in files %}
                                    <p>{{i.file}}</p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col px-2">
                    <div class="card card-task shadow-sm bg-body rounded mb-5">
                        <div class="card-body" style="text-align:center">
                            {% if mark %}
                                <p class="text-success fw-bold">{{mark}} / {{task.max_points}}</p>
                            {% endif %}
                            <p class="card-title p-1">Homework</p>
                            {% if request.user != task.author %}
                                <form id='post-form' method="POST" enctype='multipart/form-data'>
                                    {% csrf_token %}
                                    <input name='file_field' id="myInput" type="file" multiple style='display:none;'/>
                                    <button id="myButton" type="button" class='btn btn-primary' style='width:80%;'>
                                        Add files
                                    </button>
                                    <label class="pt-2" id="myFiles"></label><br><br>
                                    <input name="mySubmitButton" id="#mySubmitButton" type="submit" class='btn btn-outline-primary' style='width:80%;' value="Turn in"></input>
                                    <div class="py-3">
                                        {% if returned_files %}
                                        <p class="fw-bold">Returned files until now</p>
                                        {%endif%}
                                        <div class="overflow-auto" style="max-height:300px;">
                                            {% for i in returned_files %}
                                                <p>
                                                    {{i.file |slice:":100"|safe}}
                                                </p>
                                            {%endfor%}
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <p class="fw-bold">See all the students who have turned in their homework</p>
                                <a href="{% url 'returned' task.pk%}" type='submit' id='mark' style='width:80%;' class="btn btn-primary" name='turn'>Returned</a>

                            {% endif %}

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-task shadow-sm bg-body rounded overflow-auto" style="max-height:230px;">
                        <div class="card-body">
                            <p class="fw-bold pb-2">Comments</p>
                            <hr>
                            {% for comm in messages %}
                                <div style="text-align:center">
                                    <div>
                                        <div class="fw-normal" style='display:inline-block;'>{{comm.author}} -</div> 
                                        <small style='display:inline-block;'>{{comm.date}}</small>
                                        <div class="fw-bold" class='container'>{{comm.value}}</div> 
                                    </div>
                                </div><hr>

                            {% endfor %}
                            </div>
                      </div>
                        
                    <div class="pt-5 w-75" style="max-width:250px">
                        <form id='post-form' method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <input class ='form-control' type="text" name="message" id="message" placeholder="Add comment" />
                            <input name='submit' class='btn btn-primary mt-3' type="submit" value="Post">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script>
        $(function(){
            let inputFile = $('#myInput');
            let button = $('#myButton');
            let buttonSubmit = $('#mySubmitButton');
            let filesContainer = $('#myFiles');
            let files = [];
            
            inputFile.change(function() {
                let newFiles = []; 
                for(let index = 0; index < inputFile[0].files.length; index++) {
                let file = inputFile[0].files[index];
                console.log(file)
                newFiles.push(file);
                files.push(file);
                }
                
                newFiles.forEach(file => {
                let fileElement = $(`<p>${file.name}</p>`);
                fileElement.data('fileData', file);
                filesContainer.append(fileElement);
                
                fileElement.click(function(event) {
                    let fileElement = $(event.target);
                    let indexToRemove = files.indexOf(fileElement.data('fileData'));
                    {% comment %} fileElement.remove(); {% endcomment %}
                    files.splice(indexToRemove, 1);
                });
                });
            });
            
                button.click(function() {
                inputFile.click();
            });
            
            buttonSubmit.click(function() {
                let formData = new FormData();
                
                files.forEach(file => {
                /* here I just put file as file[] so now in submitting it will send all 
                files */
                formData.append('file[]', file);
                });
                
                
            });
        });
    </script>

</html><br>
{% endblock %}